<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/themes/prism.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/prism.min.js"></script>
</head>
    <title>Breaking Branches- MEME'S API</title>
  </head>
  <body>
      <header>
        <h1 class="">Welcome to <span style="color:orangered">MEMES </span> API</h1>
      </header>
      <main>
        <div class="container">
            <div class="address-bar">🔒   https://memes.breakingbarnches.tech/api?limit=2&type=normal</div>
          <div class="glass" id="json">
<samp>
    {
        "type":"normal",

        "memes":[

            {
                "title":"I'll just wait",
                "url":"https://preview.redd.it/xw97bduh9fza1.jpg?auto=webp&v=enabled&
                s=529a55de146c15a1bbe56a19f94a65397ccfa935",
                "author":"FlyingTomato274"
            },

            {
                "title":"Well, We all know",
                "url":"https://preview.redd.it/f7ibqp1dmiv51.gif?width=108&crop=smart&format=png8&
                s=02b12609100c14f55c31fe046f413a9415804d62",
                "author":"Book293"
            }
        ]
    }
</samp>

 </div>

        </div>
      </main>
      <div class="circle"></div>
      <section class="getting-started">
        <h2>Getting Started</h2>
        <p>Basic Usage of API</p>
        <div class="usage">
          <div>
            <img src="/img/look.png" alt="">
          </div>
        <div class="guide-box">

        <div class="request">
            <div class="header">
                <span>GET</span> /api?limit=15&type=dank
            </div>
            <div class="information">
                <span style="color:rgb(207, 70, 20)">curl</span> https://memes.breakingbranches.tech/api?limit=15&type=dank
            </div>
        </div>

        <div class="response">
            <div class="header" style="font-size: 18px;">
             Description
            </div>
            <div class="information" style="font-size: 18px; ">
                <p> <span>Limit</span>: Number of Meme URL(default:10)</p>
                <p> <span>Type</span>: Type of Meme, Dank/Normal(default)</p>
                <p> <span>Subreddit</span>: r/dankmemes, r/memes</p>
                
            </div>
        </div>
      </div>
    </div>
      </section>
      <div class="memes-container">
        <h2>Some Memes</h2>
          
        <div class="img-container">

          <div class="meme">
            <div class="author">
              
              <span>Posted By</span><p>FlyingTomato274</p>
            </div>
            <p>I'll just wait</p>
            <img src="https://preview.redd.it/xw97bduh9fza1.jpg?auto=webp&v=enabled&s=529a55de146c15a1bbe56a19f94a65397ccfa935" alt="">
          </div>
   
          <div class="meme">
            <div class="author">
              
              <span>Posted By</span><p>HaloCanuck</p>
            </div>
            <p>Always remember your parachute</p>
            <img src="https://preview.redd.it/j169xj62veza1.gif?format=png8&v=enabled&s=7795aab2c9ebf54b4d9741917d1840f3886e30c9" alt="">
          </div>
          <div class="meme">
            <div class="author">
              
              <span>Posted By</span><p>Ilovetosharewife69</p>
            </div>
            <p>True for a lot of people…</p>
            <img src="https://preview.redd.it/0xhlqtlvqgza1.jpg?auto=webp&v=enabled&s=fcc21cdb580f06aa71aa9ce3ca4950bffb96ffe0" alt="">
          </div>
   

        </div>
      </div>
      <footer>
        <i class="fa-brands fa-github fa-2xl"></i>
        <i class="fa-brands fa-linkedin fa-2xl"></i>
        <i class="fa-brands fa-twitter fa-2xl"></i>
      </footer>
  </body>
</html>
